@font-face {
    font-family: "GraphikRegular";
    src: url("../font/GraphikLCG-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "GraphikBold";
    src: url("../font/GraphikLCG-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
