@import "reset";
@import "font";

@import "header";
@import "offer";
@import "goal";
@import "begin";
@import "invest";
@import "other";
@import "reviews";

.footer {
    background-color: #171717;
    padding-top: 60px;
    padding-bottom: 30px;
}
.footer_item1 {
    color: #747474;
    font-size: 14px;
}
.footer_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 2px solid #2b2b2b;
}
.top {
    img {
        margin-bottom: 20px;
    }
}
.bot {
    margin-top: 74px;
}

.footer_item2 {
    ul {
        li {
            margin-bottom: 10px;
            a {
                color: #fff;
                transition: all 0.5s ease;
                &:hover {
                    color: #5d3de3;
                }
            }
        }
    }
}

.footer_btn {
    padding: 17px 27px;
    text-align: center;
    background: #5d3de3;
    border-radius: 6px;
    color: #fff;
    display: block;
    width: 145px;
    transition: all 0.5s ease;
    &:hover {
        background: #ffd700;
        color: #fff;
    }
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 174px;
}

.footer_item4 {
    ul {
        li {
            display: flex;
            align-items: center;
            color: #fff;
            margin-bottom: 5px;
            img {
                margin-right: 15px;
            }
        }
    }
}
.email {
    color: #fff;
    margin-top: 37px;
}
.payment {
    margin-top: 15px;
}
.footer_bot {
    margin-top: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer_text:nth-child(1),
.footer_text:nth-child(2) {
    margin-right: 80px;
}
.footer_text {
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    transition: all 0.5s ease;
    &:hover {
        color: #5d3de3;
        border-bottom: 1px solid #5d3de3;
    }
}

@import "media";
